/* Soluzione qui */
@media screen and (min-width:768px) {
#topbar{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.container{
    padding: 0px 40px;
}
.recipe-origin, .ads{
    display: block;
}
h2{
    display: flex;
    gap: 10px;
    font-size: 30px;
}
ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.blender{
    width: 30%;
}
.clock{
    width:30%;
}
.cost{
    width: 30%;
}

.pin{
    width: 70%;
}
.social-networks button{
    flex-grow: 2;
}
.presentation p{
margin-top: 10px;
}
.presentation img{
    max-width: 30%;
    margin: 0px 0px;
    margin-right: 20px;
    float: left;
}
}